/****** UNIVERSAL ******/

body {
    display: cover;
    background: radial-gradient(circle, rgb(255, 255, 255),
     rgb(220, 242, 249), rgb(193, 234, 255), rgb(204, 201, 255));
}

button {
    font-family: 'Patrick Hand', cursive;
}

.again {
    font-size: 20px;
    border: none;
    height: 50px;
    width: 150px;
}

/****** HEADER COMPONENTS ******/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(135, 167, 235);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    height: auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    line-height: 2px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.header h3 {
    font-size: 30px;
}

.header em {
    padding-right: 3px;
    font-weight: 700;
}

.home-link {
    text-decoration: none;
    color: rgb(135, 167, 235);
}

.home-link:hover {
    color: rgb(183, 203, 248);
}

/****** HOME PAGE ******/

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.home-page form {
    display: flex;
    flex-direction: column;
}

.home-page button {
    width: 125px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    font-style: italic;
}

.home-page input {
    height: 50px;
    width: 550px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Patrick Hand', cursive;  
    font-size: 25px;
    font-style: italic;
}

:focus {
    outline: none;
}

.blink {
    height: 400px;   
}

/****** DAD JOKE PAGE ******/

.joke-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
}

.joke-div {
    font-size: 40px;
    width: 500px;
    text-align: center;
    padding-bottom: 110px;
}

.laugh {
    height: 400px;
    padding-bottom: 25px;
}

/****** QUOTE PAGE ******/

.quote-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: 'Abril Fatface', cursive;
}

.quote {
    font-size: 30px;
    width: 500px;
    text-align: center;
    padding-bottom: 50px;
}

.peace {
    height: 400px;
    padding-bottom: 25px;
}

/****** HELP PAGE ******/

.reach-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    line-height: 10px;
}

.nspl-number {
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.nspl-number:hover {
    color: rgb(183, 203, 248);
}

.smalltext {
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 30px;
}

.sad-blink {
    margin-top: 90px;
    height: 250px;
}

/****** FOOTER COMPONENT ******/

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    padding-left: 0;
    padding-bottom: 10px;
    /* padding-right: 10px; */
    font-size: 15px;
    height: 25px;
    font-family: 'Patrick Hand', cursive;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(197, 180, 232), 0 1px rgb(197, 180, 232),
    1px 0 rgb(197, 180, 232), 0 -1px rgb(197, 180, 232);
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-right: 3px;
}

.footer a:hover {
    color: rgb(217, 207, 247);
}