.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    height: auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    line-height: 2px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.header em {
    padding-right: 3px;
}

.home {
    text-decoration: none;
    color: white;
}

body {
    /* background: radial-gradient(circle, white, skyblue); */
    /* This doesn't look QUITE right...  */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    padding-left: 0;
    font-size: 15px;
    height: 25px;
    font-family: 'Patrick Hand', cursive;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-right: 3px;
}

.footer a:hover {
    color: skyblue; /* Change me to fit the color scheme of the page */
}